[submodule "code/dependencies/active_gp_hyperlearning"]
	path = code/dependencies/active_gp_hyperlearning
	url = https://github.com/rmgarnett/active_gp_hyperlearning.git
[submodule "code/dependencies/mgp"]
	path = code/dependencies/mgp
	url = https://github.com/rmgarnett/mgp.git
[submodule "code/dependencies/nextgp"]
	path = code/dependencies/nextgp
	url = https://github.com/nxtruong/nextgp.git
[submodule "code/dependencies/GPdyn"]
	path = code/dependencies/GPdyn
	url = https://github.com/nxtruong/GPdyn.git
